/* custom.css */
.buttons {
    display: flex;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 60px;  
     width: 100%;
     height: 80vh;
}
  .buttons .btn-group {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem; /* Adjust margin as needed */
  }
  